name: Sync packages to Gitfarm

on:
  push:
    branches: [ "development", "sync-testing-library"]
      
env:
  BUCKET_NAME : "${{ secrets.S3_BUCKET_NAME }}"
  AWS_REGION : "us-west-2"

# permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  sync-aws-durable-execution-sdk-js:
    uses: aws/aws-durable-execution-sdk-js/.github/workflows/sync-build.yml@development
    with:
      package-name: aws-durable-execution-sdk-js
    secrets:
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      SYNC_LAMBDA_ARN: ${{ secrets.SYNC_LAMBDA_ARN }}
      GITFARM_LAN_SDK_REPO: ${{ secrets.GITFARM_LAN_SDK_REPO }}
      GITFARM_LAN_SDK_BRANCH: ${{ secrets.GITFARM_LAN_SDK_BRANCH }}
      ACTIONS_SYNC_ROLE_NAME: ${{ secrets.ACTIONS_SYNC_ROLE_NAME }}
  sync-aws-durable-execution-sdk-js-testing:
    uses: aws/aws-durable-execution-sdk-js/.github/workflows/sync-build.yml@development
    with:
      package-name: aws-durable-execution-sdk-js
    secrets:
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      SYNC_LAMBDA_ARN: ${{ secrets.SYNC_LAMBDA_ARN }}
      GITFARM_LAN_SDK_REPO: ${{ secrets.GITFARM_TESTING_SDK_REPO }}
      GITFARM_LAN_SDK_BRANCH: ${{ secrets.GITFARM_LAN_SDK_BRANCH }}
      ACTIONS_SYNC_ROLE_NAME: ${{ secrets.ACTIONS_SYNC_ROLE_NAME }}
  sync-aws-durable-execution-sdk-js-examples:
    uses: aws/aws-durable-execution-sdk-js/.github/workflows/sync-build.yml@development
    with:
      package-name: aws-durable-execution-sdk-js-examples
    secrets:
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      SYNC_LAMBDA_ARN: ${{ secrets.SYNC_LAMBDA_ARN }}
      GITFARM_LAN_SDK_REPO: ${{ secrets.GITFARM_EXAMPLES_REPO }}
      GITFARM_LAN_SDK_BRANCH: ${{ secrets.GITFARM_LAN_SDK_BRANCH }}
      ACTIONS_SYNC_ROLE_NAME: ${{ secrets.ACTIONS_SYNC_ROLE_NAME }}
      
